@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: '#1E1E1E';
  --secondaryColor: '#101010';
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

.mobile_navbar {
  transform: translateX(0px) !important;
  transition: 0.5s all ease !important;
}

@layer components {
  .navbar {
    background: linear-gradient(90.25deg, #000000 0.94%, #1a1a1a 99.03%);
  }
  .nav-link {
    @apply py-10 text-md font-semibold;
  }
}
